{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<div class="col-sm-12">
    {% for product in product_of_brand %}
    <h1 class="text-center">{{ product.brand.name }}</h1>
    <hr>
    <div class="col-sm-4">
        <img src="{{ product.image.url }}" style="width:auto; height:350px;">
        <p class=" lead text-center">
            <a href="{{ product.get_absolute_url }}" class="text-center">{{ product.title }}</a>
        </p>
        <p class="text-center" style="font-size:18px;"> Цена: {{ product.price }}</p>
        <p class="text-center">
            {% if not request.user.is_authenticated %}
            <p class="text-center" style="font-size:18px">Чтобы добавить товар, нужно
                <a target="_blank" href="{% url 'registration' %}">войти</a>
            </p>
            {% else %}
            <a href="#" class='add_to_cart' data-slug='{{ product.slug }}' class="text-center">
                <button class="btn-success">Добавить в корзину</button>
            </a>
            {% endif %}
        </p>
    </div>
    <script>
    $(document).ready(function(){
        $('.add_to_cart').on('click', function(e){
            e.preventDefault()
            product_slug = $(this).attr('data-slug')
            data = {
                product_slug : product_slug
            }
            $.ajax({
                type: "GET",
                url:"{% url 'add_to_cart' %}",
                data: data,
                success: function(data){
                    $("#cart_count").html(data.cart_total)
                }
            })
        })
    })
    </script>
    {% endfor %}
</div>
{% endblock content %}