{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="static/js/jquery.js"></script>
<h1 class="text-center">Корзина</h1>
<table class="table">
    <thead>
    <tr>
        <th>Изображение</th>
        <th>Товар</th>
        <th>Колл-во</th>
        <th>Цена</th>
        <th>Итоговая цена</th>
        <th>Удалить</th>
    </tr>
    </thead>
    {% for item in cart.items.all %}
        <tbody>
        <tr>
           <tr>
            <td class="text-center">
                <img src="{{ item.product.image.url }}" alt="" style='padding-left:auto; height:40%;'/>
            </td>
            <td class="text-left">
                <a href="{{ product.get_absolute_url }}">{{ item.product.title }}</a>
            </td>
            <td class="text-center">
                <form method="post" >
                    {{ item.qty }}
                    <input  type="number"  name="cart_total" class="cart-items-cart_total" data-id="{{ items.id }}"
                           value="{{ items.item_total }}"  min='1' style='width: 80px;'>
                </form>
            </td>
            <td class="text-left">{{ item.item_total }} руб.</td>
            <td class="text-left"> руб.</td>
            <td><a href="{% url 'remove_from_cart' product_slug=item.product.slug %}"><button class="btn-danger">Удалить</button></a></td>
          </tr>
        </tr>
    {% endfor %}
        <tr class="total">
            <td><strong>Всего к оплатe</strong></td>
          <td colspan="4"></td>
          <td class="num"><strong> руб.</strong></td>
        </tr>
        </tbody>
</table>
{% endblock content %}