{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<h1 class="text-center">Корзина</h1>
<table class="table" style= "font-size:17px">
    <thead>
    <tr>
        <th>Изображение</th>
        <th>Товар</th>
        <th>Колл-во</th>
        <th>Цена</th>
        <th>Итоговая цена</th>
        <th>Удалить</th>
    </tr>
    </thead>
        <tbody>
        {% for item in cart.items.all %}
           <tr class="cart-item-{{ item.product.id }}">
                <td class="text-center">
                    <img src="{{ item.product.image.url }}" alt="" style='padding-left:auto; height:30%;'/>
                </td>
                <td class="text-left">
                    <a  href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a>
                </td>
                <td class="text-center">
                    <form action="" method="GET">
                         <input type="number" name="qty" class="cart-item-qty"
                                data-id="{{ item.id }}" value="{{ item.qty }}" min='1' max="25" style="width: 50px;">
                    </form>
                </td>
                <td class="text-left">{{ item.item_total }} руб.</td>
                <td class='text-center' id="cart-item-total-{{ item.id }}" >{{ item.item_total }} руб.</td>
                <td>
                    <a href="#" class='remove_from_cart' data-slug="{{ item.product.slug }}" data-id="{{ item.product.id }}" >
                        <button class="btn-danger">Удалить</button>
                    </a>
                </td>
           </tr>
        {% endfor %}
        <tr class="total">
            <td class='text-center'><strong><h3>Всего к оплатe:</h3></strong></td>
            <td colspan="4"></td>
            <td class="num" id="cart-total-price"><h3>{{ cart.cart_total }} руб.</h3></td>
        </tr>
        </tbody>
</table>
<script>
    $(document).ready(function(){
        $('.remove_from_cart').on('click', function(e){
            e.preventDefault()
            product_slug = $(this).attr('data-slug')
            item_product_id = $(this).attr('data-id')
            data = {
                product_slug : product_slug
            }
            $.ajax({
                type: "GET",
                url:"{% url 'remove_from_cart' %}",
                data: data,
                success: function(data){
                    $("#cart_count").html(data.cart_total)
                    $(".cart-item-"+item_product_id).css('display', 'none')
                }
            })
        })
    })
    $(document).ready(function(){
        $('.cart-item-qty').on('click', function(){
            qty = $(this).val()
            item_id = $(this).attr('data-id')
            data = {
                qty: qty,
                item_id: item_id
            }
            $.ajax({
                type: "GET",
                url: "{% url 'count_item_qty' %}",
                data: data,
                success: function(data){
                    $("#cart-item-total-" + item_id).html(parseFloat(data.item_total).toFixed(2) + 'руб.')
                    $("#cart-total-price").html('<h3>' + parseFloat(data.cart_total_final).toFixed(2) + 'руб.</h3>')
                }
            })
        })
    })
</script>
{% endblock content %}