{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<style type="text/css">
    table {
      border: none;
    }
</style>
<table class="table" style="font-size:17px" border="2px" bgcolor="#89EC6A" align="center" >
    <thead>
    <tr>
        <th>Номер заказа</th>
        <th>Сумма заказа</th>
        <th>Статус</th>
    </tr>
    </thead>
        <tbody>
        {% for orders in order %}
           <tr>
                <td class="text-center">{{ orders.id }}</td>
                <td class="text-left">{{ orders.total }} </td>
                <td class="text-center">{{ orders.status }}</td>
           </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock content %}